/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.styleci.yml
phpunit.xml
artisan
.gitattributes
.editorconfig
server.php
Procfile
.env
/tests
/storage
/public
/database/factories
/database/seeders
INFO.md
